/.vscode
/abs.c
/abs.exe
/argc.c
/argc.exe
/arguement.c
/arguement.exe
/array.c
/array.exe
/bitwise.c
/bitwise.exe
/const.c
/const.exe
/constants.c
/constants.exe
/cpp.c
/cpp.exe
/Data.c
/Data.exe
/dog.c
/exercise.c
/exercise.exe
/factorial.c
/factorial.exe
/functions.c
/functions.exe
/getting_user_input.c
/getting_user_input.exe
/help.c
/help.exe
/iteration.c
/left_operand.c
/left_operand.exe
/linkedlist.c
/linkedlist.exe
/linux.c
/linux.exe
/lls.c
/macro.exe
/my_printf.c
/my_printf.exe
/new.c
/new.exe
/numbers.c
/numbers.exe
/one.c
/one.exe
/orset.c
/orset.exe
/pointers.c
/pointers.exe
/quiz.c
/quiz.exe
/recursion_2.c
/recursion_2.exe
/recursion_3.c
/recursion_3.exe
/rucursion.c
/rucursion.exe
/star.c
/star.exe
/start.c
/start.exe
/struct.c
/struct.exe
/struct2.c
/struct2.exe
/tasks.c
/tempCodeRunnerFile.c
/test.c
/test.exe
/variadic.c
/variadic.exe
/xor.c
/xor.exe